@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    background-color: rgba(66, 23, 239, 0.18);
    width: 1520px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

.osnova{
    height: auto;
    width: 100%;
    }
header{
display: flex;
position: fixed;
width: 1521px;
z-index: 2;
top: 0;
height: 90px;
left: 0;
justify-content: center;
align-items: center;
background-color: #B4BFE7;
column-gap: 75px;
}

.polo-first{
    width: 1520px;
    height: 850px;
}



.lifta{
    width: 1521px;
    height: 750px;
}

.complect{
    margin-left: 43%;
    margin-top: 2%;
    padding-top: 0.5%;
    border: 0.01px solid #C4C4C4;
    background-color: #C4C4C4;
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding-left: 1%;
}

.startline{
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 55, 255, 0.17);;
    width: 400px;
    height: 80px;
    margin-top: 5%;
    margin-left: 15%;
}

.textStart{
    padding-top: 5%;
    font-size: 30px;
}

.startPrice{
    display: inline-block;
    margin-left: 25%;
    font-size: 30px;
}

.podbor{
    padding-top: 650px;
    padding-left: 900px; 
}

.search{
    background-color: #0075FF;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif ;
    border-radius: 26px;
}

.models-ryad{
    height: 55px;
    width: 555px;
    margin-top: 120px;
    margin-left: 31%;
    padding-left: 20px;
    background-color: #C4C4C4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.models-vag{
    font-size: 35px;
    padding-top: 5px;
}

.center{
    width: 100%;/*фиксируем ширину обертки*/
    margin: 0;/*центрируем ее*/
    height: 100%;
}

.container{
    
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4px;
}

.polo-div{
    float: left; /*Задаем обтекание*/
        height: 255px;/*Высота строки +  верт. центрирования текста*/
        width: 440px; /*Фиксируем ширину блока*/
        margin-right: 5px;
        margin-top: 40px;
        text-align: center; /*Центрируем текст по горизонтали*/
    background: linear-gradient(to bottom, black, rgba(205, 214, 219, 0.3));
}

.polo-name{
    font-size: 35px;
    padding-top: 15px;
    color: #FFFFFF;
    padding-left: 6px;
}

.polo-img{
    width: 430px;
    height: 180px;
    padding-top: 15px;
    margin-top: 15px;
}

.taos-div{
    float: left; /*Задаем обтекание*/
        height: 255px;/*Высота строки +  верт. центрирования текста*/
        width: 440px; /*Фиксируем ширину блока*/
        margin-top: 40px;
        text-align: center; /*Центрируем текст по горизонтали*/
    background: linear-gradient(to bottom, black, rgba(205, 214, 219, 0.3));
}

.taos-name{
    font-size: 35px;
    padding-top: 15px;
    color: #FFFFFF;
    padding-left: 6px;
}

.taos-img{
    height: 195px;
    width: 490px;
    padding-top: 20px;
    margin-top: 15px;
    padding-right: 50px;
}

.tiguan-div{
    float: left; /*Задаем обтекание*/
        height: 255px;/*Высота строки +  верт. центрирования текста*/
        width: 440px; /*Фиксируем ширину блока*/
        margin-right: 5px;
        margin-top: 40px;
        text-align: center; /*Центрируем текст по горизонтали*/
    background: linear-gradient(to bottom, #6A7A92, rgba(205, 214, 219, 0.3));
}

.tiguan-name{
    font-size: 35px;
    padding-top: 15px;
    color: #FFFFFF;     
    padding-left: 6px;
}

.tiguan-img{
    height: 195px;
    width: 490px;
    padding-top: 20px;
    margin-top: 15px;
    padding-right: 50px;
}

.touareg-div{
    float: left; /*Задаем обтекание*/
        height: 255px;/*Высота строки +  верт. центрирования текста*/
        width: 440px; /*Фиксируем ширину блока*/
        text-align: center; /*Центрируем текст по горизонтали*/
        margin-top: 100px;
    background: linear-gradient(to bottom, black, rgba(205, 214, 219, 0.3));
}

.touareg-name{
    font-size: 35px;
    padding-top: 15px;
    color: #FFFFFF;
    padding-left: 6px;
}

.touareg-img{
    height: 195px;
    width: 490px;
    padding-top: 20px;
    margin-top: 15px;
    padding-right: 50px;
}

.zvonite{
    padding-left: 0.5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#logotip{   
height: 92px;
margin-left: 79%;
width: 100px;
mix-blend-mode: darken;
margin-top: 1px;

}

#logotip_footer{

    height: 220px;
    margin-left: 0.5%;
    width: 54px;
    mix-blend-mode: darken;
    margin-top: 0.1px;
}
.login{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin-left: 0.01%;
}

.login1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin-left: 0.01%; 
}
#registr{
    height: 100%;
}













 

#text_find{
    width: 95%;
    margin-left: 3%;
}


.button{
    font-size: 15px;
}




.black_reklama{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}
.reklama{
    height: 100%;
    width: 100%;
    margin-top: 120px;
}
.category{
    width: 100%;
    height: 109px;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
 align-items: center;    
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
background-color: black;
}

.cats{
    display: flex;
    justify-content: space-between;
 align-items: center;   
font-family: 'Montserrat', sans-serif;
padding-left: 9%;
padding-right: 10%;
margin-top: 35px;

}

.cat_all{
    font-weight: 300;
border: none;
background-color: black;
border-radius: 4px;
padding: 5px;
height: 40px;
color: white;
}
.cat_zarad{
    border: none;
    background-color: black;
    border-radius: 4px;
padding: 2px 3px 40px 3px;
height: 40px;
color: white;


}
.cat_notebook{
    border: none;
    background-color: black;
    border-radius: 4px;
padding: 5px;
height: 40px;
color: white;


}
.cat_smart{
    border: none;
    background-color: black;
    border-radius: 4px;
padding: 5px;
height: 40px;
color: white;


}
.cat_clock{
    border: none;
    background-color: black;
    padding: 3px 3px 35px 3px;
height: 40px;
color: white;


}
.cat_all:hover{
    color: rgb(179, 179, 179);

}
  .cat_zarad:hover{
    color: rgb(179, 179, 179);
}
.cat_clock:hover{
    color: rgb(179, 179, 179);
}
.cat_notebook:hover{
    color: rgb(179, 179, 179);
}
.cat_smart:hover{
    color: rgb(179, 179, 179);
}

.hide{
    display: none;
}

.sena{
    background-color: #EAEAEA;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
}
.do{
margin-right: 3%;
display: inline-block;
}
.shoose_sena{
    margin-left: 3%;
    
}
.ot{
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
}
#ot{
    width: 60%;
    padding-left: 3px;
}
#do{
    width: 60%;
    padding-left: 3px;
}


.hit{
    margin-top: 5%;
    margin-left: 8%;
    
}
#hit{
    width: 40%;
}
.nadtovar{
    display: flex;
    margin-right: 5%;
}
.tovar_full{

    display: flex;
    flex-wrap: wrap;
   column-gap: 5%;
  margin-left: 10px;
  margin-right: 10px;
    font-weight: 600;
    justify-content: center;
    

}
#tih{
    width: 40%;
}
.one{
border: 1px solid #BBBBBB;
background-color: white;
padding-top: 15px;
padding-left: 10px;
padding-right: 8px;
height: 350px;
width: 220px;
margin-top: 8%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #A80000;
    text-shadow: 0px 3px 0px 0px #00000040 inset;



}
#tovar_photo{
    width: 200px;
    height: 200px;
}


.musor{
    margin-top: 5%;
    width: 87%;
    margin-left: 5%;
    margin-right:5%;
    display: flex;
justify-content: space-between;
    align-items: center;

}
.warning{
    width: 100%;
    background-color: #E1E1E1;
    padding: 1%;
    box-shadow: 0px 0px 7px 0px #00000040 inset;
margin-right: 30%;
}
#medals{
    width: 30%;
}
.best_magaz{
   margin-top: 7%;
}




#tovar{
    width: 100%;
}
.buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 5px;
background: url(./Photo/buy.png);
 
}



#buy{
    width: 40px;
    height: 40px;
    border: none;
}
#buy:hover{
    
    box-shadow: 0px 0px 5px 2px #00000040 ;

}

.anime{
    transform:scale(0);
    opacity: 0;
}

.rubls{
    font-size: 25px;
}

.search{
    background-color: #3327C1;
    border: 0.1px;
}

footer{
    height: 315px;
    width: 1520px;
    background-color: #303150;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.logo_footer{
   padding-bottom: 0%;
    width: 16%;
    
    font-family: 'Montserrat', sans-serif;
margin-left: 5%;
   
}
.logo_f{
    width: 100%;

}
.nomer{
    margin-left: 20%;
    color: #FFFFFF;
}
.name{
    margin-left: 22%;
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 5%;
}
#logotip_footer{
    width: 100%;
    margin-top: 2px;
    margin-left: 0.1%;
}

.social{
    
    text-align: center;
    height: 50%;
    width: 30%;
    margin-top: 8%;
    
}

.poschta{
    text-align: center;
    height: 50%;
    width: 30%;
    margin-top: 10%;
}
.tekst{
    width: 80%;
}
.soc{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 25%;

}
.vag2{
    color: #0075FF;
}
.VAG2022{
    margin-top: 12%;
    margin-right: 3%;
}
.VAG{
    padding-right: 7%;
}
#facebook{
    width: 23%;
}
#telega{
    width: 23%;
    margin-left: 10%;
}
#vk{
    width: 23%;
        margin-left: 10%;

}
.vozrast{
    width: 7%;
    margin-right: 10%;
    margin-top: 5%;

}
#vozrast{
    width: 100%;
    
}
.svaz{
    width: 70%;
    margin-left: auto;
}

.si1{
    font-size: 25px;
}

.si{
    font-style: oblique;
}

@media  (max-width:996px){
    .stokesImg{
        width: 1550px;
    }
    .stokesVagText{
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 55px;
    }
    .stokesVag{
        position: absolute;
        top: 1865px;
        width: 1550px;
        height: 100px;
        background-color: #2F2881;
    }
    .complect{
        width: 600px;
        height: 75px;
        text-align: center;
        font-size: 60px;
        margin: 0 auto;
        margin-top: 25px;
    }
    .polo-first{
        width: 1550px;
    }
    .startline{
        margin-top: 180px;
        width: 800px;
    }
    .textStart{
        font-size: 70px;
        padding-top: 0px;
    }
    .startPrice{
        font-size: 70px;
        margin-left: 150px;
    }
    #logotip{
        height: 240px;
        width: 250px;
        display: block;
        margin: 0 auto;
        margin-top: 16px;
    }
    header{
        display: block;
        position: fixed;
        width: 1550px;
        z-index: 2;
        top: 0;
        height: 1050px;
        left: 0;
        justify-content: center;
        align-items: center;
        background-color: #B4BFE7;

        }
        .center{
            margin-right: 150px;
            margin-top: 1010px;
            height: 2000px;
            width: 1530px;
        }
        footer{
    
        height: 2400px;
        width: 1550px;
        background-color: #303150;
        color: white;
        font-family: 'Montserrat', sans-serif;
        display: block;
        justify-content: space-between;

        }
        #logotip_footer{
            display: block;
        height: 240px;
        margin-left: 580px;
        width: 250px;
        mix-blend-mode:darken;
        margin-top: 30px;
        }
        .nomer{
            display: block;
            width: 500px;
            margin-left: 475px;
            color: #FFFFFF;
            font-size: 50px;
            margin-top: 50px;
        }
        .name{
            margin-left: 610px;
            color: #FFFFFF;
            font-size: 50px;


        }
        .login{
            display: block;
            text-align: center;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 20px;
            font-size: 55px;
            margin-left: 10px;
            
        }
        
        .login1{
            display: block;

            text-align: center;
            font-size: 55px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 33px;
            margin-left: 14px;
             
        }

        .search{
            font-family: 'Times New Roman', Times, serif;
            height: 100px;
            width: 750px;
            font-size: 35px;
        }
        .VAG{
            display: block;
            margin-top: 2.5%;
            font-size: 45px;
            width: 510px;
            margin-left: 560px;
            text-align: center;
        }
        .svaz{
            display: block;
            margin-left: 585px;
            font-size: 50px;

        }
        .poschta{
            display: block;
            text-align: center;
            font-size: 50px;
            margin-top: 350px;
            margin-left: 20px;

        }
        .tekst{
            width: 1500px;
            margin-left: 6%;
        }
        .VAG2022{
            font-size: 50px;
            margin-left: 565px;
           margin-top: 235px;
            
        }
        .social{
            text-align: center;
            height: 150px;
            width: 150px;
            margin-top: 150px;
        }
        .si1{
            font-size: 50px;
            width: 300px;
            margin-left: 45px;
        }
        .si{
            margin-top: 5%;
            margin-left: 70px;
        }

}